footer.footer
    .container
        .footer-content
            .footer-info
                h4 Chat Real-time Application
                p Ứng dụng chat real-time hiện đại với công nghệ Socket.io
            .footer-links
                h5 Liên kết
                ul
                    li
                        a(href="/") Trang chủ
                    li
                        a(href="/users/friend") Bạn bè
                    li
                        a(href="/rooms-chat") Phòng chat
            .footer-social
                h5 Kết nối
                .social-icons
                    a(href="#" title="Facebook")
                        i.fa.fa-facebook
                    a(href="#" title="Twitter")
                        i.fa.fa-twitter
                    a(href="#" title="Github")
                        i.fa.fa-github
                    a(href="#" title="LinkedIn")
                        i.fa.fa-linkedin
        .footer-bottom
            p &copy; 2025 Copyright by Onez Nguyen. All rights reserved.