header.header
    .container 
        .row.align-items-center     
            .col-3 
                .inner-logo 
                    a(href = "/" style="margin-top: 0px;")
                        img(src = "/images/corgi.jpg")
            .col-5 
                h1 Chat Real-time Application
            .col-4 
                .inner-menu
                    ul 
                        if (user)
                            li 
                                a(href = "/users/info") Thông tin cá nhân
                            li  
                                a(href = "/auth/logout") Đăng xuất
                            li 
                                a(href = "/users/friend") Bạn bè
                        else
                            li
                                a(href = "/auth/register") Đăng ký
                            li
                                a(href = "/auth/login") Đăng nhập