header.header
    .container 
        .row.align-items-center     
            .col-3 
                .inner-logo 
                    a(href = "/")
                        img(src = "/images/corgi.jpg")
            .col-5 
                h1 Chat Real-time Application
            .col-4 
                .inner-menu
                    ul 
                        if (user)
                            li 
                                a(href = "/user/info") Thông tin cá nhân
                            li  
                                a(href = "/user/logout") Đăng xuất
                        else
                            li
                                a(href = "/user/register") Đăng ký
                            li
                                a(href = "/user/login") Đăng nhập
                        li 
                            a(href = "/users/friend") Bạn bè