extends ../../layouts/default.pug 
include ../../mixins/alert.pug
block main
    +alert-success(2000)
    +alert-error(2000)
    h1 Chat Real-time Application
    //- show information about socket.io and this application
    